
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img{
    width: 100%;
}

nav a,
#hero-msg h1, 
#hero-msg h4,
.button-box,
main section {
    text-align: center;
    color: #4E5340;
}

#background {
    height: 725px;
    background-color: #95A3A4;
    margin-bottom: 20px;

}

body {
    background-color: #fff;
}

header {
    background-color: #4E5340;    
}

nav a{
    text-align: center;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #95A3A4;
}

.book, .join{
    background-color: #95A3A4;
    color: #fff;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #95A3A4;
    color:black
}

.mountains{
    width: 80%;
}

.logo,
.icon{
    width:80px;
}

.msg {
    background-color: #4E5340;
    color: #fff;
   
}

footer{
    margin-top:  20px;
}

footer,
footer a {
    background-color: #4E5340;
    color: #fff;
    text-align: center;
    text-decoration: none;
   
}

footer p a:hover{
    background-color: #95A3A4;
}

.social{
 text-align: center;

}

.social img{
    width: 40px;
    border-radius: 5px;
}
